.App {
  text-align: center;
  font-family: sans-serif;
  color: #333;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}
.profile-image {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border: 3px solid #61dafb; /* Optional: adds a border matching the link color */
  margin-bottom: 10px; /* Adds some space below the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow */
}
.App-link {
  color: #61dafb;
  text-decoration: none;
  margin-top: 20px;
}

.App-link:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

section:last-child {
  border-bottom: none;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  color: #282c34;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
}

footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #f7f7f7;
  font-size: 0.9em;
  color: #555;
}
